.card div {
    padding: 10;
    border-radius: 20;
    background-color: white ;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    z-index: 200;
    
}

/* shadowColor: 'black';
        shadowOffset: {
            width: 0, height: 2
        },
        shadowRadius: 6,
        shadowOpacity: 0.26,
        backgroundColor: 'white',
        elevation: 5,
        padding: 10,
        borderRadius: 20, */